<agm-marker 
  *ngFor="let device of (devices$ | async)" 
  [latitude]="device.latitude | convertToDecimal" 
  [longitude]="device.longitude | convertToDecimal"
>
  <agm-info-window>
    <div class="info-form">
      <br />
      <label>In Port:</label> {{ device.in_port }}
      <br />
      <label>Out Port: </label> {{ device.out_port }}
      <br />
      <br />
      <p>
        <button type="button" (click)="startConnection(device.latitude, device.longitude)">Start Connection</button>
        <button type="button" (click)="endConnection(device.latitude, device.longitude)">End Connection</button>
      </p>
    </div>
  </agm-info-window>
</agm-marker>
