.modal-cont {
    position: relative;
}

.step-cont {
    padding-top: 10px;
    padding-bottom: 20px;
}

.step-body {
    height: 400px;
}

.footer-control {
    position: absolute;
    left: 24px;
    right: 24px;
    bottom: 0;
}

.fiber-point {
    background-color: rgb(240, 230, 230);
    margin-bottom: 10px;
    padding: 3px 5px;
    cursor: pointer;
}

.left-cont {
    float: left;
    width: 49%;
    padding: 5px 0px;
}

.left-cont h4 {
    text-align: center;
}

.right-cont h4 {
    text-align: center;
}

.right-cont {
    float: right;
    width: 49%;
    padding: 5px 0px;
}

.selected-one {
    background-color: red;
    color: #FFFFFF;
}

// Step two
.port-core {
    width: 100%;
    margin-bottom: 20px;
}

.port-core select {
    float: right;
}