<div class="modal-cont">
    <mat-horizontal-stepper [linear]="'true'">
        <mat-step>
            <ng-template matStepLabel>Choose Fiber</ng-template>
            <div class="step-cont">
                <div class="step-body">
                    <div class="left-cont">
                        <h4>Fibers (Add to make it available)</h4>
                        <div class="fiber-point" *ngFor="let fiber of (fibers$ | async)">
                            {{ fiber.name }}
                            <label style="float: right">
                                <a href="javascript:void(0);" (click)="fiberAdd(fiber)">Add</a>
                            </label>
                        </div>
                    </div>
                    <div class="right-cont">
                        <h4>Available Fiber - select one</h4>
                        <div class="fiber-point" *ngFor="let fiber of newFiber" [ngClass]="{'selected-one': selectedId == fiber.id}">
                            {{ fiber.name }}
                            <label style="float: right">
                                <a href="javascript:void(0);" (click)="selectedFiber(fiber.id)">Select</a>
                            </label>
                        </div>
                    </div>
                </div>

                <mat-dialog-actions class="footer-control">
                    <div style="float: left; width: 50%; text-align: left;">
                        <!-- <button mat-raised-button disabled>Previous</button> -->
                    </div>
                    <div style="float: right; width: 50%; text-align: right;">
                        <button mat-raised-button matStepperNext color="primary" [disabled]="selectedId === null">Next</button>
                    </div>
                </mat-dialog-actions>
                <br />
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Port/Core Assign</ng-template>
            <div class="step-cont">
                <div class="step-body">
                    <div class="left-cont">
                        <h4>Device one</h4>
                        <div class="port-core">
                            <label>Port 1</label>
                            <select>
                                <option>Core 1: White</option>
                            </select>
                        </div>
                        <div class="port-core">
                            <label>Port 2</label>
                            <select>
                                <option>Core 1: White</option>
                            </select>
                        </div>
                    </div>

                    <div class="right-cont">
                        <h4>Device two</h4>
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>
                <label>Complete</label>
            </ng-template>
            <div class="step-cont">
                <div class="step-body">
                    <div class="left-cont">
                        <h4>Device one</h4>
                    </div>

                    <div class="right-cont">
                        <h4>Device two</h4>
                    </div>
                </div>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>