.modal-cont {
    position: relative;
}

.step-cont {
    padding-top: 30px;
}

.step-body {
    height: 280px;
    text-align: center;
    vertical-align: middle;
}

.port-label {
    display: inline-block;
    width: 60px;
    text-align: left !important;
}

.footer-control {
    position: absolute;
    left: 24px;
    right: 24px;
    bottom: 0;
}

.port-list {
    margin: 15px 0px;
}