<div class="modal-cont">
    <mat-horizontal-stepper [linear]="'true'">
        <mat-step>
            <ng-template matStepLabel>Choose Fiber</ng-template>
            <div class="step-cont">
                <div class="step-body">
                    <div class="left-cont">
                        <h4>Fibers (Add to make it available)</h4>
                        <div class="fiber-point" *ngFor="let fiber of (fibers$ | async)">
                            {{ fiber.name }}
                            <label style="float: right">
                                <a href="javascript:void(0);" (click)="fiberAdd(fiber)">Add</a>
                            </label>
                        </div>
                    </div>
                    <div class="right-cont">
                        <h4>Available Fiber - select one</h4>
                        <div class="fiber-point" *ngFor="let fiber of newFiber" [ngClass]="{'selected-one': selectedFiberId == fiber.id}">
                            {{ fiber.name }}
                            <label style="float: right">
                                <a href="javascript:void(0);" (click)="selectedFiber(fiber.id)">Select</a>
                            </label>
                        </div>
                    </div>
                </div>

                <mat-dialog-actions class="footer-control">
                    <div style="float: left; width: 50%; text-align: left;">
                        <!-- <button mat-raised-button disabled>Previous</button> -->
                    </div>
                    <div style="float: right; width: 50%; text-align: right;">
                        <button mat-raised-button matStepperNext color="primary" [disabled]="selectedFiberId === null">Next</button>
                    </div>
                </mat-dialog-actions>
                <br />
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Select Core</ng-template>
            <div class="step-cont">
                <div class="step-body">
                    <div class="" style="text-align: center">
                        <h4>Please select a core</h4>
                        <br />
                        <mat-form-field style="margin-left: 1px">
                            <mat-select placeholder="" [(ngModel)]="selectedCoreId">
                                <mat-option *ngFor="let core of (selectedFiberCores$ | async)" [value]="core.core_id">
                                    {{ core.color }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <mat-dialog-actions class="footer-control">
                    <div style="float: left; width: 50%; text-align: left;">
                        <button mat-raised-button matStepperPrevious>Previous</button>
                    </div>
                    <div style="float: right; width: 50%; text-align: right;">
                        <button mat-raised-button matStepperNext color="primary" (click)="saveConn()">Save</button>
                    </div>
                </mat-dialog-actions>
                <br />
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>