<agm-marker
	*ngFor="let device of devices"
	[latitude]="device.lat"
	[longitude]="device.lng"
>
	<agm-info-window>
		<form method="post" novalidate (ngSubmit)="submit(device.lat, device.lng)">
			<div class="form-group">
				<label>Title</label>
				<input type="text" name="name" [(ngModel)]="formData.name">
			</div>
			<div class="form-group">
				<label>Description</label>
				<input type="text" name="description" [(ngModel)]="formData.description">
			</div>
			<button type="submit">Save</button>
			<button type="button" (click)="clear.emit()">Delete</button>	
		</form>
	</agm-info-window>
</agm-marker>